
<div>
  <h3>ההודעות שלי </h3>
    <ul>
        <p class="header">קוד חבילה </p>
        <p class="header">תאריך </p>
        <p class="header"> מוצא</p>
        <p class="header">יעד </p>
        <p class="header">שעת הגעה </p>
        <p class="header">סוג </p>
        <p class="header"> גודל</p>
       <br>
       <p>החבילות שלי:</p>
       <hr>
        <li  *ngFor="let p of listPackages;let i = index;">
            <div *ngIf="p.listWaiting.length>0">
            <p style="color: red;">{{p.packageCode}}</p>
            <p style="color: red;"> {{p.travelDate|  date:'dd-MM-yyyy' }}</p>
            <p style="color: red;"> {{p.fromLocationFormat}}</p>
            <p style="color: red;"> {{p.toLocationFormat}}</p>
            <p style="color: red;"> {{p.drivingTime}}</p>
            <p style="color: red;"> {{p.packageType}}</p>    
            <p style="color: red;"> {{p.packageSize}}</p>
            <p style="color: red;" *ngIf="p.status==false">סגור</p>
            <p style="color: red;" *ngIf="p.status==true">פתוח</p>
          <button (click)="showUndoBtn(i)"  ><mat-icon>expand_more</mat-icon></button>
            </div>
            <div *ngFor="let wp of p.listWaiting" attr.id="{{i}}" [hidden]="showBtn!=i">
                <p>{{wp.driveCode}}</p>
                <p>{{wp.driverName}}</p>
                <p> {{wp.travelDate|  date:'dd-MM-yyyy' }}</p>
                <p> {{wp.fromLocationFormat}}</p>
                <p> {{wp.toLocationFormat}}</p>
                <p> {{wp.drivingTime}}</p>
                <p> {{wp.transportationType}}</p>  
                <button mat-button (click)="sendMessageFromCustomer(p,wp)">שלח הודעה</button> 
                <button mat-button *ngIf="p.status==true" (click)="deleteAllWaitingMessage(p.packageCode,wp.driveCode,p.listWaiting)"> אשר שליח</button> 
                <button mat-button  (click)="deleteWaitingMessage(p.packageCode,wp.driveCode,'p')">הסר</button> 
                <button mat-button (click)="finishPackage(wp.driverCode,p.customerName)">חוות דעת</button> 
            </div> 
        </li>
    </ul>
</div>


<div>
  <ul>
      <p class="header">קוד נסיעה </p>
      <p class="header">תאריך </p>
      <p class="header"> מוצא</p>
      <p class="header">יעד </p>
      <p class="header">שעה </p>
      <p class="header">תחבורה </p>
    <br>
     <p>הנסיעות שלי:</p>
     <hr>
      <li  *ngFor="let d of listDrives;let i = index;">
          <div *ngIf="d.listWaiting.length>0">
            <p style="color: red;">{{d.driveCode}}</p>
            <p style="color: red;"> {{d.travelDate|  date:'dd-MM-yyyy' }}</p>
            <p style="color: red;"> {{d.fromLocationFormat}}</p>
            <p style="color: red;"> {{d.toLocationFormat}}</p>
            <p style="color: red;"> {{d.drivingTime}}</p>
            <p style="color: red;"> {{d.transportationType}}</p> 
            <p style="color: red;"> {{d.status}}</p>
        <button (click)="showUndoBtn(i)"  ><mat-icon>expand_more</mat-icon></button>
          </div>
          <div *ngFor="let wd of d.listWaiting" attr.id="{{i}}" [hidden]="showBtn!=i">
            <p>{{wd.packageCode}}</p>
            <p>{{wd.customerName}}</p>
            <p> {{wd.travelDate|  date:'dd-MM-yyyy' }}</p>
            <p> {{wd.fromLocationFormat}}</p>
            <p> {{wd.toLocationFormat}}</p>
            <p> {{wd.drivingTime}}</p>
            <p> {{wd.packageType}}</p>    
            <p> {{wd.packageSize}}</p> 
            <p *ngIf="wd.status==false">סגור</p>
            <p *ngIf="wd.status==true">פתוח</p>
            <button mat-button (click)="sendMessageFromDelivery(d,wd)">שלח הודעה</button> 
            <button mat-button (click)="deleteWaitingMessage(wd.packageCode,d.driveCode,'d')">הסר</button>  
          </div> 
      </li>
  </ul>
</div>






