select{
    height: 25px;
    width: 110px;
  
  }
  th{
     width: 13%;
     text-align: right;
  }
  
  td{
    width: 13%;
    
  }
  table{
    width: 78%;
  }
  
  button.btn{
    background-color: white;
    border: none;
  }
  
  button:hover{
    background-color: grey;
  }

  h1{
    display: inline;
  }
  
  input{
    display: inline;
    margin-left: 8px;
    height: 20px;
  }
  .mat-form-field + .mat-form-field {
    margin-left: 8px;
  }
  p{
      margin-left:10px;
      width:10%;
      display: inline-block;
  }
.header{
  margin-left:10px;
  width:10%;
  display: inline-block;
  color:grey;
}
  mat-accordion{
      width: 80%;
  }