<mat-dialog-content class="mat-typography">

<mat-icon style="cursor: pointer;" mat-dialog-close >highlight_off </mat-icon>
<h2 *ngIf="listHappinessByDeliveryId.length==0">לא נמצאו חוות דעת עבור שליח זה </h2>
<h2 *ngIf="listHappinessByDeliveryId.length>0">  נמצאו {{len}} חוות דעת עבור שליח זה:</h2>
<div *ngFor="let h of listHappinessByDeliveryId">
    <label style="font-size: large;">{{h.customerName}}</label>
    <br>
    <label>
      {{h.date| date:'dd-MM-yyyy' }}
    </label>
    <br>
    <button mat-icon-button [color]="color" *ngFor="let ratingId of ratingArr;index as i"   matTooltipPosition="above">
        <mat-icon>
          {{showIcon(i,h.happinessLevel)}}
        </mat-icon>
      </button>
      <span>    </span>  <label>{{h.describeHappiness}}</label>
      <br>
</div>

</mat-dialog-content>