<mat-dialog-content class="mat-typography">
    <mat-icon style="cursor: pointer;" mat-dialog-close >highlight_off </mat-icon>
    <br>
<!-- <ul>
 <mat-star-rating [rating]="h.happinessLevel"  [starCount]="starCount" [color]="starColor" ></mat-star-rating>
<button mat-icon-button [color]="color" *ngFor="let ratingId of ratingArr;index as i" [id]="'star_'+i" [matTooltip]="ratingId+1" matTooltipPosition="above"></button> 
<li  *ngFor="let h of listHappinessByDeliveryId">{{h.happinessLevel}}</li>
</ul> -->
<ul>
    <li *ngFor="let h of any">{{h.driverCode}}</li>
</ul>
</mat-dialog-content>