
<div class="title_list row">


    <h1>חפש את המשלוח שמתאים לך</h1>  

  <div class="row align-items-center">

  <form class="search">
<div class="row">
  <div class="col-3">
  <input class="form-control form-control-sm date"  [min]="minDate" matInput [matDatepicker]="picker" (click)="picker.open()"  placeholder="מתאריך" #fromDate >
  <mat-datepicker #picker></mat-datepicker>
  
  <input class="form-control form-control-sm date"  [min]="minDate" matInput [matDatepicker]="picker1" (click)="picker1.open()"  placeholder="עד" #toDate >
  <mat-datepicker #picker1 ></mat-datepicker>
  </div>
  
  <div class="col-2">
    <input class="form-control form-control-sm"  matInput type="text" placeholder="מוצא" ngx-google-places-autocomplete 
     #placesRef="ngx-places" (onAddressChange)="handleAddressFromChange($event)" #fromL >
  </div>

  <div class="col-2">
    <input class="form-control form-control-sm"  matInput type="text" placeholder="יעד" ngx-google-places-autocomplete  
    #placesRef="ngx-places" (onAddressChange)="handleAddressToChange($event)" #toL>
  </div>

  <div class="col-2">
    <input class="form-control form-control-sm"  matInput type="time"  placeholder="שעת הגעה" #time >
  </div>

  <div class="col-2">
    <select class="form-control form-control-sm"  #size >
      <option value="0">הכל </option>
       <option value="1">מכתבים </option>
       <option value="2" >קטן</option>
       <option value="3" >בינוני</option>
       <option value="4" >גדול</option>
     </select>
     <!--חיפוש לפי עיר
    <input id="searchTextField" type="text" size="50" placeholder="Enter a location" autocomplete="on"> -->
  </div>

  <div class="col-1">
    <!-- <button mat-button (click)="filterPackages(fromDate.value,toDate.value,fromL.value,toL.value,time.value,size.value)" type="submit" class="btn btn-primary mb-3"><i class="bi bi-search"></i></button> -->

  <button  mat-button (click)="filterPackages(fromDate.value,toDate.value,fromL.value,toL.value,time.value,size.value)"><i width="52" height="52" class="bi bi-search"></i></button> 
  </div>  

</div>   
  </form>

  <section class="sort">
  
  <div class="row">
  <div class="col-9">
    <p style="font-size:large;"> נמצאו {{len}} חבילות מתאימות</p>
  </div>
 
  <div class="col-3">
  <form>
    <mat-label><span class="float-end">מיין לפי</span></mat-label>
    <select class="form-selec form-control-sm pl4 float-start"  (change)="sortBy($event.target.value)" >
     <option value="date">תאריך </option>
      <option value="time">שעה </option>
      <option value="from" >מרחק מהמוצא</option>
      <option value="to" >מרחק מהיעד</option>
    </select>
  </form>
</div>

</div>

  </section>



<section>


  <table >
    <th>שם</th>
    <th> תאריך </th>
    <th> מוצא </th>
    <th> יעד </th>
    <th> שעת הגעה </th>
    <th> <mat-icon >email</mat-icon> </th>
    <th></th>
    <tr *ngFor="let package of packagesFound;let i=index" >
  <td>{{package.customerName}}</td>
  <td> {{package.travelDate|  date:'dd-MM-yyyy' }} </td>
  <td> {{package.fromLocationFormat}}</td>
  <td> {{package.toLocationFormat}}</td>
  <td> {{package.drivingTime}}</td>
  <td> {{package.packageType}}</td>
  <td> {{package.packageSize}}</td>
  <td> <button mat-button (click)="sendEmail(package)" >שלח מייל</button></td> 
  <td> {{package.packageCode}}</td>
  <!-- <td > <button (click)="hideme[i] = !hideme[i]"><mat-icon>expand_more</mat-icon> </button></td> -->
  </tr>
  </table>
</section
>
  <mat-paginator [length]="packagesFound.length"
              [pageSize]="10">
</mat-paginator>
  </div>
  
