
<div class="title_list row">

    <h1>חפש את החבילה שמתאים לך</h1>  

  <div class="row align-items-center">

  <form class="search">
<div class="row">
  <div class="col-3">
  <input class="form-control form-control-sm date" [min]="minDateFromDate" [max]="maxDateFromDate"  matInput [matDatepicker]="picker" (click)="picker.open()"  placeholder="מתאריך" #fromDate >
  <mat-datepicker #picker (closed)="updateMinDateToDate(fromDate.value)"></mat-datepicker>
  
  <input class="form-control form-control-sm date" [min]="minDateToDate"  matInput [matDatepicker]="picker1" (click)="picker1.open()"  placeholder="עד" #toDate >
  <mat-datepicker #picker1 (closed)="updatemaxDateFromDate(toDate.value)"></mat-datepicker>
  </div>
  
  <div class="col-2">
    <input class="form-control form-control-sm"  matInput type="text" placeholder="מוצא" ngx-google-places-autocomplete 
     #placesRef="ngx-places" (onAddressChange)="handleAddressFromChange($event)" #fromL >
  </div>

  <div class="col-2">
    <input class="form-control form-control-sm"  matInput type="text" placeholder="יעד" ngx-google-places-autocomplete  
    #placesRef="ngx-places" (onAddressChange)="handleAddressToChange($event)" #toL>
  </div>

  <div class="col-2">
    <input class="form-control form-control-sm"  matInput type="time"  placeholder="שעת הגעה" #time >
  </div>

  <div class="col-2">
    <select class="form-control form-control-sm"  #size >
      <option value="0">הכל </option>
       <option value="1">מכתבים </option>
       <option value="2" >קטן</option>
       <option value="3" >בינוני</option>
       <option value="4" >גדול</option>
     </select>
     <!--חיפוש לפי עיר
    <input id="searchTextField" type="text" size="50" placeholder="Enter a location" autocomplete="on"> -->
  </div>

  <div class="col-1">
    <!-- <button mat-button (click)="filterPackages(fromDate.value,toDate.value,fromL.value,toL.value,time.value,size.value)" type="submit" class="btn btn-primary mb-3"><i class="bi bi-search"></i></button> -->

  <button  mat-button (click)="filterPackages(fromDate.value,toDate.value,fromL.value,toL.value,time.value,size.value)"><i width="52" height="52" class="bi bi-search"></i></button> 
  </div>  
  </div>   
  </form>

  <section class="sort">
  
  <div class="row">
  <div class="col-9">
    <p style="font-size:large;"> נמצאו {{len}} חבילות מתאימות</p>
  </div>
 
  <div class="col-3">
  <form>
    <mat-label><span class="float-end">מיין לפי</span></mat-label>
    <select class="form-selec form-control-sm pl4 float-start"  (change)="sortBy($event.target.value,fromL.value,toL.value)" >
     <option value="date">תאריך </option>
      <option value="time">שעה </option>
      <option value="from" >מרחק מהמוצא</option>
      <option value="to" >מרחק מהיעד</option>
    </select>
  </form>
</div>

</div>

  </section>




  <div class="row table_title">
    
    <div class="col-1">שם הלקוח</div>
    <div class="col-1"> איסוף מתאריך </div>
    <div class="col-1"> משעה </div>
    <div class="col-1"> עד תאריך </div>
    <div class="col-1"> עד שעה </div>
    <div class="col-2"> מוצא </div>
    <div class="col-2"> יעד </div>
    <div class="col-1">  סוג חבילה </div>
    <div class="col-1">  גודל חבילה</div>
    <!-- <div class="col-1"> הערה </div> -->

    <div class="col-1">
      
    <i class="bi bi-envelope-fill"></i> 
  
  </div>
  </div>
  <div class="row table_list" *ngFor="let package of packagesFound;let i=index" >
    <!-- <div class="col-1">{{package.packageCode}}</div> -->
  <div class="col-1">{{package.customerName}}</div>
  <div class="col-1">{{package.fromDate|  date:'dd-MM-yyyy' }} </div>
  <div class="col-1">{{package.fromTime}} </div>
  <div class="col-1">{{package.toDate|  date:'dd-MM-yyyy' }} </div>
  <div class="col-1">{{package.toTime}} </div>
  <div class="col-2">{{package.fromLocationFormat}}</div>
  <div class="col-2">{{package.toLocationFormat}}</div>
  <div class="col-1">{{package.packageType}}</div>
  <div class="col-1">{{package.packageSize}}</div>
  <!-- <div class="col-2">{{package.describePackage}}</div> -->
  <div class="col-1"><button mat-button (click)="sendEmail(package)" >    <i class="bi bi-envelope-fill"></i> 
  </button></div>
  </div>
</div>


  </div>
  
