
<header>
    <app-header></app-header>
    <router-outlet></router-outlet>
</header>
 
<main>
    <router-outlet></router-outlet>
</main>

<!-- <footer >
    <app-footer></app-footer>
</footer>  -->

<!-- <div style="background-color: brown;">

    <input ngx-google-places-autocomplete   #placesRef="ngx-places" (onAddressChange)="handleAddressChange($event)"/> -->
    <!-- <input ngx-google-places-autocomplete  [options]='options' #placesRef="ngx-places" (onAddressChange)="handleAddressChange($event)"/> -->
 <div>

  <agm-map [latitude]="6.9271" [longitude]="79.8612">
    <agm-direction *ngFor="let dir of dirs" [origin]="dir.origin" [destination]="dir.destination" [renderOptions]="dir.renderOptions">
    </agm-direction>
  </agm-map>
  </div>