.example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
  }
  
  .example-radio-button {
    margin: 5px;
  }

  .b-container{
    position: relative;
    top:250px;
    text-decoration-line: underline;
    text-decoration-style: solid;
    color: red;
    cursor: pointer;
}

.mat-typography {
    height: 600px;
    width: 850px;
    background-color: white;
    border-color: grey;
  }

// span{
//   margin: 0 10px;
// }