section {
    display: table;
    margin: 8px;
  }
  
  .example-button-row {
    display: table-cell;
  }
  
  .example-button-row button {
    display: table-cell;
    margin-right: 8px;
  }
  
  .example-flex-container {
    display: flex;
    justify-content:center;
    width: 480px;
  }
  
  .example-button-container {
    display: flex;
    justify-content: center;
    width: 120px;
  }
 
  .mat-typography
{
    height: 400px;
    width: 450px;
}
.inp
{
    height: 30px;
    width: 50px;
    background-color: grey;
   }
.example-custom-date-class {
    background: orange;
    border-radius: 100%;
  }
  mat-form-field {
    margin-right: 12px;
  }
  .mat-radio-button{
    margin-left: 16px;
  }