<h1 class="header">שליחויות ללא התחייבות</h1>
<section>
  
    <div class="example-label">
      <div class="example-button-row">
        <div class="example-flex-container">
          <div class="example-button-container">
             
            <button mat-raised-button color="primary" class="btn" mat-dialog-close (click)="openDialogOrder()">
            
                <label class="lbl"> הזמן שליחות >> </label>
             
            </button>
            
           
          </div>
        </div>
  
      </div>
    </div>
    <section>
       