<mat-dialog-content  class="mat-typography">

    <form *ngIf="form,newUser" [formGroup]="form" (ngSubmit)="addUser()">
      <div class="example-container">
       <mat-icon style="cursor: pointer;" mat-dialog-close >highlight_off </mat-icon> 
          <h1>פרטים אישיים</h1>                 
              <div class="mb-3">
              <input class="form-control" matInput [type]="hide ? 'password' : 'text'" id="password" #password formControlName="password" name="password">
              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}} </mat-icon>
              </button>
               <!--    <div class="form-text" *ngIf="form.value.password.errors?.required"> שדה חובה </div>
          <div class="form-text" *ngIf="password.errors?.pattern"> חייב להכיל לפחות מספר אחד ואותיות גדולות וקטנות, ולפחות 7 תווים או יותר</div>   
           -->
           
            </div>
            <!-- <input style="display:inline;" matInput class="inp" placeholder="password" [type]="hide ? 'password' : 'text'" formControlName="password" name="password">
            <mat-icon style="display:inline;" (mouseover)="hide=!hide" (mouseout)="hide=!hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            <mat-hint *ngIf="!passwordInput.value">Enter your password</mat-hint> -->
            
            <div class="mb-3">
              <input class="form-control"  type="text" placeholder="שם "  formControlName="name"  name="name">
            </div>
            
             <!-- <div class="mb-3">
              <input class="form-control" type="text"  placeholder="טלפון "  formControlName="phone" name="phone">
            </div> -->
            
            <div class="mb-3">
                <input class="form-control" type="text" placeholder="דואר אלקטרוני"  formControlName="gmail" name="gmail" >
             </div>

            <!-- <div class="mb-3">
              <input class="form-control" type="number"  placeholder="גיל"  formControlName="age" name="age" >
            </div> -->
            
            <!-- <div class="mb-3">
            <mat-checkbox  formControlName="mes" name="mes" (ngModel)="checked" >האם אתה מעוניין לקבל התראות?</mat-checkbox>   
          </div>     -->
     
            <div class="mb-3">
            <button class="btn btn-primary" style="cursor: pointer;" type="submit" [disabled]="!form.valid"  (click)="submitted=true" >
              שמור
            </button>
            </div>
            <!-- <a mat-dialog-close class="b-container" routerLink="exist-user"> התחבר</a> -->

          <br>        
      </div>
    </form>
</mat-dialog-content>

<!-- <div class="form-group col-5">
  <label style="font-family: Calibri;">תעודת זהות</label>
  <input type="text" formControlName="password" class="form-control"
      [(ngModel)]="visitor.VisitorId"
      [ngClass]="{ 'is-invalid': submitted && f.password?.errors }" />
  <div *ngIf="submitted && f.password?.errors" class="invalid-feedback">
      <div *ngIf="f.password?.errors.required">נדרשת תעודת זהות</div>
  </div>

</div>‏ -->
