.mat-typography {
  height: 400px;
  width: 450px;
  background-color: white;
  border-color: grey;
} 

.ng-invalid.ng-touched.ng-dirty:not(form) {
  border: 1px solid red;
}

.is-invalid {
  border: 2px solid red;
}

// .b-container{
//   position: relative;
//   top:250px;
//   text-decoration-line: underline;
//   text-decoration-style: solid;
//   color: red;
//   cursor: pointer;
// }
// .inp
// {
//     height: 30px;
//     background-color:white;
//     border-color: grey;
// }
// .example-custom-date-class {
//     background: orange;
//     border-radius: 100%;
//   }
//   mat-form-field {
//     margin-right: 12px;
  
//   }