.mat-typography
{
    height: 600px;
    width: 450px;
    background-color:white;
    border-color: grey;
}

.inp
{
    height: 30px;
    background-color:white;
    border-color: grey;
}
.example-custom-date-class {
    background: orange;
    border-radius: 100%;
  }
  mat-form-field {
    margin-right: 12px;
  }