.mat-typography {
    height: 480px;
    width: 470px;
    background-color: white;
    border-color: grey;
  }

  .inp
{
    height: 30px;
    background-color:white;
    border-color: lightskyblue;
}