.mat-typography {
    height: 600px;
    width: 850px;
    background-color: white;
    border-color: grey;
  }

  .inp
{
    height: 30px;
    background-color:white;
    border-color: grey;
}
.texterea{
  width: 724px;
  height: 140px;
  margin: 203px 31px 18px 25px;
  padding: 10px 16px 113px 631px;
  border-radius: 10px;
  border: solid 1px #000000;
}