// .btn{
//     cursor: pointer;
//     position: relative;
//     top: 40px;
//     }

// input{
//     position: relative;
//     top:40px;
//     }

// .b-container{
//     position: relative;
//     top:250px;
//     text-decoration-line: underline;
//     text-decoration-style: solid;
//     color: red;
//     cursor: pointer;
// }

// .a-container{
//     position: relative;
//     top:60px;
//     text-decoration-line: underline;
//     text-decoration-style: solid;
//     color: red;
//     cursor: pointer;
// }

// .userDiv{
//     position: relative;
//     top: 100px;   
// }  

.mat-typography {
    height: 600px;
    width: 450px;
    background-color: white;
    border-color: grey;
    font-family: arimo;
  }  

