
<mat-dialog-content class="mat-typography">

    <mat-icon style="cursor: pointer;" mat-dialog-close >highlight_off </mat-icon> 
    <h1>התחבר / הירשם</h1>
 <div *ngIf="!user.userName&&showEmailInput==false">

      <form [formGroup]="form">
       <div class="mb-3">
      <input data-toggle="tooltip" data-placement="bottom" title="הסיסמא חייבת להכיל לפחות 6 תויים"  class="form-control" [type]="hide ? 'password' : 'text'"  placeholder="הקש סיסמא" formControlName="password" name="password" #id type="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}} </mat-icon>
        </button>
      <div class="form-text">שדה חובה</div>
    </div> 

    <div class="mb-3">
      <button class="btn btn-primary" type="submit" [disabled]="!form.valid"  (click)="getUserById(id.value)" >היכנס</button>
    </div>
  </form>
 

  <!-- <form *ngIf="form" [formGroup]="form" (ngSubmit)="getUserById()">

    <div class="mb-3"> 
      <input class="form-control" matInput [type]="hide ? 'password' : 'text'" formControlName="password" name="password"  #password [(ngModel)]="form.value.password"> 
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}} </mat-icon>
        </button>

        <div class="form-text" *ngIf="password.errors.required"> שדה חובה </div>
        <div class="form-text" *ngIf="password.errors.pattern"> חייב להכיל לפחות מספר אחד ואותיות גדולות וקטנות, ולפחות 7 תווים או יותר</div>   
        
      </div>

        <div class="mb-3">
          <button class="btn btn-primary" mat-button type="submit" [disabled]="!form.valid" (click)="submitted=true">היכנס</button>
        </div>
    
  </form>  
     -->

   
  <a  class="a-container" (click)="showEmailInput=true" >שכחתי סיסמא </a>
      <br>
      <a mat-dialog-close class="b-container" (click)="openDialog()"> משתמש חדש</a>
  </div>


     <div *ngIf="showEmailInput==true">
     <form [formGroup]="formEmail">
      <div class="mb-3">
        <input class="form-control" type="email"  placeholder="הזן כתובת מייל" #mail formControlName="email" name="email" [ngClass]="{ 'is-invalid': submitted && fe.email.errors }">
      </div>

        <button type="submit" style="cursor: pointer;" [disabled]="!formEmail.valid" class="btn btn-primary"  (click)="sendCodeByEmail(mail.value)">שלח לי את הקוד</button>   
      </form>
      </div>

      <div class="userDiv" *ngIf="user.userName" >
        <p> {{user.userCode}}</p>
        <p> {{user.userName}}</p>
        <p> {{user.userMail}}</p>
         <a mat-dialog-close class="btn" >המשך</a>
    </div>

  
  </mat-dialog-content>
