
<mat-dialog-content class="mat-typography">
    <mat-icon style="cursor: pointer;" mat-dialog-close >highlight_off </mat-icon>
     <form *ngIf="form,newPackage" [formGroup]="form" (ngSubmit)="updatePackage()">
       
      <div class="mb-3">
            <input class="form-control" type="text" placeholder="קוד חבילה"  readonly formControlName="packageCode" name="packageCode">
      </div>
      <div class="mb-3">
        <section>
            <div class="example-button-row">
              <div class="example-flex-container container">
              <div class="example-button-container">
                <button type="button" mat-mini-fab color="accent">
                <label  for="1">
                  <mat-icon>mail_outline</mat-icon>
                </label>
              </button>
  
              </div>
                <div class="example-button-container">
                  <button type="button" mat-mini-fab color="warn">
                  <label for="2">
                    <mat-icon>S</mat-icon>
                  </label>
                  </button>
  
                </div>
                <div class="example-button-container">
                  <button type="button" mat-mini-fab color="primary">
                  <label for="3">
                    <mat-icon>M</mat-icon>
                  </label>
                  </button>
                </div>
                <div class="example-button-container">
                  <button type="button" mat-mini-fab color="white">
                  <label for="4">
                    <mat-icon>L</mat-icon>
                  </label>
                </button>
              </div>
              </div>
            </div>
        </section>
      </div>

        <div>
          <input type="radio" value="1" style="visibility: hidden;"  id="1" #1  formControlName="size" name="size"  >
          <input type="radio" value="2" style="visibility: hidden;"  id="2" #2  formControlName="size" name="size"  >
          <input type="radio" value="3" style="visibility: hidden;"  id="3" #3  formControlName="size" name="size"  >
          <input type="radio" value="4" style="visibility: hidden;"  id="4" #4  formControlName="size" name="size"  >
         </div>


          <div class="mb-3">
          <input class="form-control" placeholder=" מוצא" ngx-google-places-autocomplete  #placesRef="ngx-places" (onAddressChange)="handleAddressFromChange($event)"
          formControlName="fromLocation" name="fromLocation" [ngClass]="{ 'is-invalid': submitted && f.fromLocation.errors }" />
          </div>

          <div class="mb-3">
          <input class="form-control" placeholder=" יעד" ngx-google-places-autocomplete  #placesRef="ngx-places" (onAddressChange)="handleAddressToChange($event)"
          formControlName="toLocation" name="toLocation" [ngClass]="{ 'is-invalid': submitted && f.toLocation.errors }" />
          </div>

          <div class="mb-3">
        <mat-form-field class="example-full-width">
          <mat-label>מתאריך</mat-label>
          <input class="form-control"  [min]="minDate" [matDatepicker]="picker" [min]="minDateFromDate" [max]="maxDateFromDate" formControlName="fromDate" name="fromDate" #fromDate [ngClass]="{ 'is-invalid': submitted && f.fromDate.errors }" >
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker  [dateClass]="dateClass" #picker (closed)="updateMinDateToDate(fromDate.value)"></mat-datepicker>
        </mat-form-field>
        </div>
        <div class="mb-3">
          <input class="form-control" type="time" placeholder="שעת הגעה"  formControlName="fromTime" name="fromTime" [ngClass]="{ 'is-invalid': submitted && f.fromTime.errors }" >
        </div>
          <div class="mb-3">
        <mat-form-field class="example-full-width">
          <mat-label>עד תאריך </mat-label>
          <input  class="form-control" [min]="minDate" [matDatepicker]="picker1" [min]="minDateToDate" formControlName="toDate" name="toDate" #toDate [ngClass]="{ 'is-invalid': submitted && f.toDate.errors }" >
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker  [dateClass]="dateClass" #picker1 (closed)="updatemaxDateFromDate(toDate.value)"></mat-datepicker>
        </mat-form-field>
        </div>

         <div class="mb-3">
          <input  class="form-control" type="time" placeholder="שעת הגעה"  formControlName="toTime" name="toTime" [ngClass]="{ 'is-invalid': submitted && f.toTime.errors }" >
         </div>
        <label>סוג חבילה:</label>
        <br>
        <input  type="radio" value="1 "  id="1"  formControlName="type" name="type" >
        <label> שביר</label>
        <br>
        <input  type="radio" value="2"  id="2"  formControlName="type" name="type" >
        <label> קרור</label>
        <br>
        <input  type="radio" value="3"  id="3"  formControlName="type" name="type" >
        <label> רגיל</label>
        <br>
        <input  type="radio" value="4"  id="4"  formControlName="type" name="type" >
        <label> אחר</label>
        <br>
         <!-- <mat-form-field>
          <input matInput type="text" placeholder=" תאור נוסף או הערה" class="inp" formControlName="describePackage" name="describePackage">
        </mat-form-field>
        <br>  -->
  
      <!--  TODO: לשנות שיראה כקישור -->
      <div class="mb-3">
      <button class="btn btn-primary" style="cursor: pointer;" type="submit" mat-button [disabled]="!form.valid"
          (click)="submitted=true" > עדכן</button>
      </div>
    </form> 
  
  </mat-dialog-content>