
<mat-dialog-content class="mat-typography">
  <mat-icon style="cursor: pointer;" mat-dialog-close >highlight_off </mat-icon>
  <h2>הכנס פרטי חבילה</h2>
   <form *ngIf="[form,newPackage]" [formGroup]="form" (ngSubmit)="addPackage()">
    <!-- <div class="example-container"> -->
     <div class="form-group row">
      <label>גודל חבילה</label>

      <section>
          <div class="example-button-row">
            <div class="example-flex-container container">
            <div class="example-button-container">
              <button type="button" mat-mini-fab color="accent">
              <label  for="1">
                <mat-icon>mail_outline</mat-icon>
              </label>
            </button>

            </div>
              <div class="example-button-container">
                <button type="button" mat-mini-fab color="warn">
                <label for="2">
                  <mat-icon>S</mat-icon>
                </label>
                </button>

              </div>
              <div class="example-button-container">
                <button type="button" mat-mini-fab color="primary">
                <label for="3">
                  <mat-icon>M</mat-icon>
                </label>
                </button>
              </div>
              <div class="example-button-container">
                <button type="button" mat-mini-fab color="white">
                <label for="4">
                  <mat-icon>L</mat-icon>
                </label>
              </button>
            </div>
            </div>
          </div>
      </section>
      </div>
      <div class="form-group ">
        <input type="radio" value="1" style="visibility: hidden;"  id="1" #1  formControlName="size" name="size"  >
        <input type="radio" value="2" style="visibility: hidden;"  id="2" #2  formControlName="size" name="size"  >
        <input type="radio" value="3" style="visibility: hidden;"  id="3" #3  formControlName="size" name="size"  >
        <input type="radio" value="4" style="visibility: hidden;"  id="4" #4  formControlName="size" name="size"  >
        <div class="form-text" *ngIf="f.size.value==2" >  0-500 גרם</div>
        <div class="form-text" *ngIf="f.size.value==3" >500-5000 גרם</div>
        <div class="form-text" *ngIf="f.size.value==4" >5-10 קילו</div>

        <div class="form-text" *ngIf="f.size.errors" >שדה חובה</div>

      </div>

 <div class="row">
    <div class="col-md-4">
        <label for="inputFrom" >מוצא</label>
        <input class="form-control" id="inputFrom" placeholder=" מוצא" ngx-google-places-autocomplete  #placesRef="ngx-places" (onAddressChange)="handleAddressFromChange($event)"
        formControlName="fromLocation" name="fromLocation" [ngClass]="{ 'is-invalid': submitted && f.fromLocation.errors }" />
        <div class="form-text" *ngIf="f.fromLocation.errors" >שדה חובה</div>
      </div>

    <div class=" col-md-4">     
        <label for="inputTo" >יעד</label>
        <input class="form-control" id="inputTo" placeholder=" יעד" ngx-google-places-autocomplete  #placesRef="ngx-places" (onAddressChange)="handleAddressToChange($event)"
        formControlName="toLocation" name="toLocation" [ngClass]="{ 'is-invalid': submitted && f.toLocation.errors }" />
        <div class="form-text" *ngIf="f.toLocation.errors" >שדה חובה</div>

      </div>
  </div> 
<br>
  <div class="row">
    <div class=" col-md-4">
      <!-- <mat-form-field class="example-full-width"> -->
        <label for="inputFromDate" class="form-label">מתאריך</label>
        <input class="form-control" id="inputFromDate"  [matDatepicker]="picker" formControlName="fromDate" [min]="minDateFromDate" [max]="maxDateFromDate" #fromDate [ngClass]="{ 'is-invalid': submitted && f.fromDate.errors }" >
        <mat-datepicker-toggle for="inputFromDate"  [for]="picker"  ></mat-datepicker-toggle>
        <mat-datepicker for="inputFromDate" [dateClass]="dateClass" #picker (closed)="updateMinDateToDate(fromDate.value)"></mat-datepicker>
      <!-- </mat-form-field> -->
      <div class="form-text" *ngIf="f.fromDate.errors" >שדה חובה</div>

    </div>

      <div class="col-md-4">
        <label for="inputFromTime" class="form-label">משעה</label>
        <input  class="form-control" id="inputFromTime" type="time" placeholder="משעה"  formControlName="fromTime" name="fromTime" [ngClass]="{ 'is-invalid': submitted && f.fromTime.errors }" >
        <div class="form-text" *ngIf="f.fromTime.errors" >שדה חובה</div>

      </div>
   
    </div>
<br>
    <div class="row">
      <div class=" col-md-4">
      <!-- <mat-form-field class="example-full-width"> -->
        <label for="inputToDate" class="form-label">עד תאריך</label>
        <input class="form-control" id="inputToDate" [matDatepicker]="picker1" formControlName="toDate" [min]="minDateToDate" #toDate [ngClass]="{ 'is-invalid': submitted && f.toDate.errors }" >
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker  [dateClass]="dateClass" #picker1 (closed)="updatemaxDateFromDate(toDate.value)"></mat-datepicker>
      <!-- </mat-form-field> -->
      <div class="form-text" *ngIf="f.toDate.errors" >שדה חובה</div>

    </div>

      <div class="col-md-4">
        <label for="inputToTime">עד שעה</label>
        <input  class="form-control" id="inputToTime" type="time" placeholder="עד שעה"  formControlName="toTime" name="toTime" [ngClass]="{ 'is-invalid': submitted && f.toTime.errors }" >
        <div class="form-text" *ngIf="f.toTime.errors" >שדה חובה</div>

      </div>
    </div>


    <div class="form-group "[ngClass]="{ 'is-invalid': submitted && f.type.errors }" >
      <label>סוג חבילה:</label>
      <br>
      <input  type="radio" value="1 "  id="1"  formControlName="type" name="type" >
      <label> שביר</label>
      <br>
      <input  type="radio" value="2"  id="2"  formControlName="type" name="type" >
      <label> קרור</label>
      <br>
      <input  type="radio" value="3"  id="3"  formControlName="type" name="type" >
      <label> רגיל</label>
      <br>
      <input  type="radio" value="4"  id="4"  formControlName="type" name="type" >
      <label> אחר</label>
      <div class="form-text" *ngIf="f.type.errors" >שדה חובה</div>

    </div>
<br>
    <!-- <div class="row">
      <div class="form-group col-md-6">
        <label for="inputDescribe" class="form-label">הערה </label>
        <input class="form-control" id="inputDescribe" type="text" placeholder=" תאור נוסף או הערה"  formControlName="describePackage" name="describePackage">
      </div>
    </div> -->

    <div >
      <!-- <div class="form-group"> -->
        <!-- <div class="form-check"> -->
          <input  type="checkbox" id="checkMes" formControlName="mes" name="mes" #message>
          <label  for="checkMes">מעוניין לקבל התראות למייל על נסיעות שיתאימו לחבילה זו?</label>
        <!-- </div> -->
       <!-- </div> -->
      </div> 
<br>
<div class="row">
     <div class="col-md-4" [ngStyle]="{'visibility': message.checked ? 'visible' : 'hidden'}"> 
        <label for="inputDis"> מרחק:</label>        
        <input class="form-control" type="number" id="inputDis" formControlName="distance" name="distance">
    </div>
  </div>
  <br>
  
    <button *ngIf="!isPackage"  class="btn btn-primary " style="cursor: pointer;" type="submit"  [disabled]="!form.valid"
        (click)="submitted=true " mat-dialog-close> שמור</button>

        <button *ngIf="isPackage" class="btn btn-primary " style="cursor: pointer;" type="submit"  [disabled]="!form.valid"
        (click)="submitted=true " mat-dialog-close> שלח</button>
      

    <!-- </div> -->
  </form> 

</mat-dialog-content>


<!-- <form>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputEmail4">Email</label>
      <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
    </div>
    <div class="form-group col-md-6">
      <label for="inputPassword4">Password</label>
      <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
    </div>
  </div>
  <div class="form-group">
    <label for="inputAddress">Address</label>
    <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
  </div>
  <div class="form-group">
    <label for="inputAddress2">Address 2</label>
    <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputCity">City</label>
      <input type="text" class="form-control" id="inputCity">
    </div>
    <div class="form-group col-md-4">
      <label for="inputState">State</label>
      <select id="inputState" class="form-control">
        <option selected>Choose...</option>
        <option>...</option>
      </select>
    </div>
    <div class="form-group col-md-2">
      <label for="inputZip">Zip</label>
      <input type="text" class="form-control" id="inputZip">
    </div>
  </div>
  <div class="form-group">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="gridCheck">
      <label class="form-check-label" for="gridCheck">
        Check me out
      </label>
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Sign in</button>
</form> -->