
<mat-dialog-content class="mat-typography">

   <form *ngIf="[form,newPackage]" [formGroup]="form" (ngSubmit)="addPackage()">
    <div *ngIf="!addsuccess"  class="example-container">
      <mat-icon style="cursor: pointer;" mat-dialog-close >highlight_off </mat-icon>
      <br>
      <section>
          <div class="example-button-row">
            <div class="example-flex-container container">
            <div class="example-button-container">
              <button type="button" mat-mini-fab color="accent">
              <label  for="1">
                <mat-icon>mail_outline</mat-icon>
              </label>
            </button>

            </div>
              <div class="example-button-container">
                <button type="button" mat-mini-fab color="warn">
                <label for="2">
                  <mat-icon>S</mat-icon>
                </label>
                </button>

              </div>
              <div class="example-button-container">
                <button type="button" mat-mini-fab color="primary">
                <label for="3">
                  <mat-icon>M</mat-icon>
                </label>
                </button>
              </div>
              <div class="example-button-container">
                <button type="button" mat-mini-fab color="white">
                <label for="4">
                  <mat-icon>L</mat-icon>
                </label>
              </button>
            </div>
            </div>
          </div>
      </section>
      <br>
        <input type="radio" value="1" style="visibility: hidden;"  id="1" #1  formControlName="size" name="size"  >
        <input type="radio" value="2" style="visibility: hidden;"  id="2" #2  formControlName="size" name="size"  >
        <input type="radio" value="3" style="visibility: hidden;"  id="3" #3  formControlName="size" name="size"  >
        <input type="radio" value="4" style="visibility: hidden;"  id="4" #4  formControlName="size" name="size"  >
      <br>

        <button type="button" (click)="checkSize()">check size</button><br>
      <mat-form-field>
        <input matInput type="text" placeholder="קוד לקוח" class="inp" readonly formControlName="customerCode" name="customerCode">
      </mat-form-field>
      <br> 
      <mat-form-field >
        <input matInput placeholder=" מוצא" ngx-google-places-autocomplete  #placesRef="ngx-places" (onAddressChange)="handleAddressFromChange($event)"
        formControlName="fromLocation" name="fromLocation"/>
      </mat-form-field>
      <br>
      <mat-form-field >
        <input matInput placeholder=" יעד" ngx-google-places-autocomplete  #placesRef="ngx-places" (onAddressChange)="handleAddressToChange($event)"
        formControlName="toLocation" name="toLocation"/>
      </mat-form-field>
      <br>
      <mat-form-field class="example-full-width">
        <mat-label>Choose a date</mat-label>
        <input matInput  [min]="minDate" [matDatepicker]="picker" formControlName="travelDate">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker  [dateClass]="dateClass" #picker></mat-datepicker>
      </mat-form-field>
      <br>
      <mat-form-field>
        <input  matInput type="time" placeholder="שעת נסיעה" class="inp" formControlName="drivingTime" name="drivingTime">
      </mat-form-field>
        <br>
      <label>סוג חבילה:</label>
      <br>
      <input  type="radio" value="1 "  id="1"  formControlName="type" name="type" >
      <label> שביר</label>
      <br>
      <input  type="radio" value="2"  id="2"  formControlName="type" name="type" >
      <label> קרור</label>
      <br>
      <input  type="radio" value="3"  id="3"  formControlName="type" name="type" >
      <label> רגיל</label>
      <br>
      <input  type="radio" value="4"  id="4"  formControlName="type" name="type" >
      <label> אחר</label>
      <br>
      <!-- <mat-form-field>
        <input matInput type="text" placeholder=" תאור נוסף או הערה" class="inp" formControlName="describePackage" name="describePackage">
      </mat-form-field>
      <br> 

       TODO: לשנות שיראה כקישור -->
    <button mat-button style="cursor: pointer;" type="submit" mat-button [disabled]="!form.valid"
        (click)="submitted=true "> שלח</button>
      <br>
    </div>

    <div *ngIf="addsuccess">
      <p >
        בקשתך נקלטה במערכת ,
        <br>
        להמשך מעקב היכנס לאזור האישי
      </p>
    </div>

  </form> 

</mat-dialog-content>


