<mat-dialog-content class="mat-typography">
<div>
    <form *ngIf="[form]" [formGroup]="form" (ngSubmit)="updateUser()">
  <div>  <mat-icon style="cursor: pointer;" mat-dialog-close >highlight_off </mat-icon></div>
  <h1>עדכן פרטים אישיים:</h1>
  <div class="form-group mb-3">
    
    <input class="form-control" formControlName="code" name="code" readonly>
</div>
  <div class="form-group mb-3"> 
      <p>שם:</p>
       <input class="form-control"  type="text"  formControlName="name" name="name" [ngClass]="{ 'is-invalid':  f.name.errors }" >
    </div>
    <div class="form-group mb-3"> 
        <p>דואר אלקטרוני:</p>
       <input class="form-control"  type="text"  formControlName="email" name="email" [ngClass]="{ 'is-invalid':  f.email.errors }" >
    </div>
   
  <div class="mb-3">  <button type="submit" [disabled]="!form.valid" class="btn btn-primary"  mat-dialog-close>עדכן</button></div>
    </form>
</div>
</mat-dialog-content>