
<div>

<p>{{package.customerName}}</p>
<p>{{package.fromDate}}</p>
<p>{{package.fromLocationFormat}}</p>
<p>{{package.toDate}}</p>
<p>{{package.toLocationFormat}}</p>
<p>{{package.toTime}}</p>

  

  
              
          <!-- <input type="text" placeholder="sender" #sender> 
            </div>
            <br>
            <div class="example-button-container"> 
            <input type="text" placeholder="contactEmail" #contactEmail>
            </div> <br>
            <div class="example-button-container"> 
            <input type="text" placeholder="subject" #subject>
            </div> <br>
            <div class="example-button-container"> 
            <input type="text" placeholder="body" #body> 
            </div>
            <br>
            <div class="example-button-container"> 
           <button (click)="SendMail(contactEmail.value,subject.value,body.value)">
            send mail 
           </button>  -->

<!-- שייך ל travel list for delivery: -->
<!-- <div class="travelslDiv" *ngFor="let travel of travelList" > 
  <div class="travelDiv1" *ngIf="travelsListByPlace('','')">
  <p>{{travel.packageCode}} </p>
  <p>{{travel.fromLocation}} </p>
  <p>{{travel.toLocation}} </p>
  <p>{{travel.travelDate}} </p>
  <p>{{travel.drivingTime}} </p> -->
  <!-- <button id="moreDetails" value="moreDetails" (click)="vis=true"></button>
  <p *ngIf="vis">{{travel.packageType}} </p>
  <p *ngIf="vis">{{travel.describePackage}} </p>
  <p *ngIf="vis">{{travel.packageSize}} </p> -->
<!-- </div>
</div> -->
<!--travelListForDelivery   -->
            <!-- </div>
        </div>  
      </div>
    </div> -->
<div>
 