<h1 class="header">שליחויות ללא התחייבות</h1>
<section>
  
    <div class="example-label">
      <div class="example-button-row">
        <div class="example-flex-container">
          <!-- <div class="example-button-container"> 
            <button mat-raised-button color="primary"  class="btn" mat-dialog-close (click)="openDialogOrder()">           
                <label class="lbl"> הזמן שליחות >> </label>
            </button> -->

            <input type="text" placeholder="sender" #sender> 
            <br>
            <input type="text" placeholder="contactEmail" #contactEmail> <br>
            <input type="text" placeholder="subject" #subject> <br>
            <input type="text" placeholder="body" #body> <br>
           <button (click)="SendMail(sender.value,contactEmail.value,subject.value,body.value)">
            send mail 
           </button>
            <!-- </div> -->
        </div>  
      </div>
    </div>
<section>
 