<mat-dialog-content  class="mat-typography">
    <mat-icon style="cursor: pointer;" mat-dialog-close >highlight_off </mat-icon>
      <form *ngIf="form,newDrive" [formGroup]="form" (ngSubmit)="updateDrive()">           
        <h2>עדכן פרטי נסיעה</h2>  
        <div class="col-md-2">
          <label>קוד נסיעה</label>         
          <input class="form-control"  placeholder="driverCode" type="text"  readonly formControlName="driveCode" name="driveCode" >
        </div>
          <div class="form-group row">

          <section>
            <div class="example-button-row">
              <div class="example-flex-container container">
              <div class="example-button-container">
                <button type="button" mat-mini-fab color="accent">
                <label  for="1">
               <mat-icon> directions_car</mat-icon> 
                </label>
              </button>
  
              </div>
                <div class="example-button-container">
                  <button type="button" mat-mini-fab color="warn">
                  <label for="2">
                    <mat-icon>two_wheeler</mat-icon>
                  </label>
                  </button>
  
                </div>
                <div class="example-button-container">
                  <button type="button" mat-mini-fab color="primary">
                  <label for="3">
                    <mat-icon>pedal_bike</mat-icon>
                  </label>
                  </button>
                </div>
                <div class="example-button-container">
                  <button type="button" mat-mini-fab color="white">
                  <label for="4">
                    <mat-icon>directions_bus</mat-icon>
                  </label>
                </button>
              </div>
              <div class="example-button-container">
                <button type="button" mat-mini-fab color="white">
                <label for="5">
                  <mat-icon>local_shipping</mat-icon>
                </label>
              </button>
            </div>
              </div>
            </div>
        </section>
      </div>
      <div class="form-group ">
          <input type="radio" value="1" style="visibility: hidden;"  id="1" #1  formControlName="trans" name="trans"  >
          <input type="radio" value="2" style="visibility: hidden;"  id="2" #2  formControlName="trans" name="trans"  >
          <input type="radio" value="3" style="visibility: hidden;"  id="3" #3  formControlName="trans" name="trans"  >
          <input type="radio" value="4" style="visibility: hidden;"  id="4" #4  formControlName="trans" name="trans"  >
          <input type="radio" value="5" style="visibility: hidden;"  id="5" #5  formControlName="trans" name="trans"  >
          <div class="form-text" *ngIf="f.trans.errors">שדה חובה</div>

        </div>
        <div class="row">
          <div class="col-md-4">
            <label for="inputFrom" >מוצא</label>
          <input class="form-control" id="inputFrom"  ngx-google-places-autocomplete  #placesRef="ngx-places" (onAddressChange)="handleAddressFromChange($event)"
          placeholder=" מוצא" formControlName="fromLocation" name="fromLocation" [ngClass]="{ 'is-invalid': submitted && f.fromLocation.errors }"/>
          <div class="form-text" *ngIf="f.fromLocation.errors">שדה חובה</div>
        </div>
  
      <div class=" col-md-4"> 
        <label for="inputTo" >יעד</label>    
            <input class="form-control" id="inputTo" ngx-google-places-autocomplete  #placesRef="ngx-places" (onAddressChange)="handleAddressToChange($event)"
            placeholder=" יעד" formControlName="toLocation"  name="toLocation" [ngClass]="{ 'is-invalid': submitted && f.toLocation.errors }"/>
            <div class="form-text" *ngIf="f.toLocation.errors">שדה חובה</div>

          </div>
      </div> 
          <br>
  
          <div class="row">
      <div class=" col-md-4">
        <!-- <mat-form-field class="example-full-width"> -->
          <label for="inputFromDate" class="form-label">תאריך נסיעה</label>
            <input class="form-control" id="inputFromDate" [min]="minDate" [matDatepicker]="picker" placeholder="date"  formControlName="date" name="date" [ngClass]="{ 'is-invalid': submitted && f.date.errors }">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <div class="form-text" *ngIf="f.date.errors">שדה חובה</div>

          </div>
      
            <div class="col-md-4">
              <label for="inputTime" class="form-label">שעת נסיעה</label>
              <input class="form-control" type="time" id="inputTime" placeholder="שעת נסיעה"  formControlName="driving" name="driving" [ngClass]="{ 'is-invalid': submitted && f.driving.errors }"> 
              <div class="form-text" *ngIf="f.driving.errors">שדה חובה</div>

            </div>
         
          </div>
      <br>
        
      <div class="col-md-4">
        <label>מחיר לק"מ:</label>

              <input  placeholder="מחיר לק'מ" type="number" class="form-control" formControlName="price" name="price">
            </div>
            <br>
            <!-- <mat-form-field >
              <input matInput placeholder="הערה" type="text" class="inp" formControlName="describeDrive" name="describeDrive">
            </mat-form-field>
            <br>   -->
            <div class="mb-3">   
              <button  style="cursor: pointer;" type="submit" class="btn btn-primary" [disabled]="!form.valid"
              (click)="submitted=true"  > עדכן</button> 
              </div>
   
      </form>   
      </mat-dialog-content>
