<!-- <section>
  <div class="example-label">
    <div class="example-button-row">
      <div class="example-flex-container">
        <div class="example-button-container">
          <button mat-fab color="primary" class="btn">
            <a routerLink="/deliverymenu">הירשם כשליח</a>
          </button>
          <button mat-fab color="primary" class="btn">
            <a routerLink="/customermenu">הזמן משלוח</a>
          </button>

        </div>
      </div>

    </div>
  </div>

</section> -->
<!-- <div>
  <button mat-button [matMenuTriggerFor]="menu">Menu</button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>Item 1</button>
    <button mat-menu-item>Item 2</button>
  </mat-menu>
</div> -->
<button (click)="checkLogin()" style="text-underline-position: inherit;" mat-button >ראשי</button>

<button mat-button routerLink="/about">אודות</button>

<button mat-button (click)="openDialog()" >הצטרף כשליח</button>
  
<button mat-button >בצע שליחות</button>

  <!-- <button mat-button [matMenuTriggerFor]="beforeMenu">בצע שליחות</button> -->
  <!-- <mat-menu #beforeMenu="matMenu" xPosition="before">
    <button mat-menu-item>Item 1</button>
    <button mat-menu-item>Item 2</button>
  </mat-menu> -->
  
  
  <button *ngIf="userSer.currentUser==undefined" routerLink="/" mat-button  class="cnt">התחבר
  <mat-icon>account_circle</mat-icon>
  </button>
  <label style="float: left;" *ngIf="userSer.currentUser">{{userSer.currentUser.userName}}</label>
 