
<div> 
  <h1 class="title_list"> חפש את הנסיעה שמתאימה לך</h1>
  <form class="search">
  <div class="row">

<div class="col-3 pb-4">

<input class="form-control form-control-sm date" [min]="minDateFromDate" [max]="maxDateFromDate" matInput [matDatepicker]="picker" (click)="picker.open()"  placeholder="מתאריך" #fromDate >
<mat-datepicker #picker (closed)="updateMinDateToDate(fromDate.value)"></mat-datepicker>

<input class="form-control form-control-sm date" [min]="minDateToDate" matInput [matDatepicker]="picker1" (click)="picker1.open()"  placeholder="עד תאריך" #toDate >
<mat-datepicker #picker1 (closed)="updatemaxDateFromDate(toDate.value)"></mat-datepicker>
</div>

<div class="col-2">
  <input class="form-control form-control-sm" matInput type="text" placeholder="מוצא, מרחק של 5 קמ" ngx-google-places-autocomplete 
   #placesRef="ngx-places" (onAddressChange)="handleAddressFromChange($event)" #fromL >
</div>

  <div class="col-2">
  <input class="form-control form-control-sm" matInput type="text" placeholder="יעד, מרחק של 5 קמ" ngx-google-places-autocomplete  
  #placesRef="ngx-places" (onAddressChange)="handleAddressToChange($event)" #toL>
   </div>

   <div class="col-2">
  <input class="form-control form-control-sm" matInput type="time" [min]="minTime" placeholder="שעת יציאה" #time > 
   </div>

<div class="col-2">
  <select class="form-control form-control-sm" #trans >
    <option value="0"> כל רכב </option>
     <option value="1">רכב </option>
     <option value="2" >אופנוע</option>
     <option value="3" >אופניים</option>
     <option value="4" >אוטובוס</option>
     <option value="5" >משאית</option>
   </select>
  </div>


  <div class="col-1">
    <button mat-button (click)="filterDrives(fromDate.value,toDate.value,fromL.value,toL.value,time.value,trans.value)"><i width="52" height="52" class="bi bi-search"></i></button>
  </div>

</div>


</form>
   

<section class="sort">

  <div class="row">
   
 <div class="col-9">
  <p style="font-size:large;"> נמצאו {{len}} נסיעות מתאימות</p>
</div>


<div class="col-3">
    <mat-label><span class="float-end">מיין לפי</span></mat-label>
   <select class="form-selec form-control-sm pl4 float-start" (change)="sortBy($event.target.value,fromL.value,toL.value)" >
    <option value="date">תאריך </option>
     <option value="time">שעה </option>
     <option value="from" >מרחק מהמוצא</option>
     <option value="to" >מרחק מהיעד</option>
     <option value="price" >מחיר מהנמוך לגבוה</option>
   </select>
  </div>

  </div> 

  
</section>

<section>

<div class="row table_title">
  <div class="col-1">שם השליח</div>
  <div class="col-2">תאריך נסיעה </div>
  <div class="col-1"> שעת נסיעה </div>
  <div class="col-2"> מוצא </div>
  <div class="col-2">  יעד </div>
  <div class="col-1">  כלי רכב </div>
  <div class="col-1">  מחיר לק"מ  </div>
 <div class="col-1">  חוות דעת </div>
  <div class="col-1">
    
    <i class="bi bi-envelope-fill"></i> 

</div>
</div>

<div class="row table_list" *ngFor="let drive of driversFound;let i=index" >
  <div class="col-1">{{drive.driveCode}}</div>
  <div class="col-1">{{drive.driverName}}</div>
  <div class="col-2"> {{drive.travelDate|  date:'dd-MM-yyyy' }} </div>
  <div class="col-1">{{drive.drivingTime}}</div>
  <div class="col-2"> {{drive.fromLocationFormat}}</div>
  <div class="col-2">{{drive.toLocationFormat}}</div>
  <div class="col-1">{{drive.transportationType}}</div>
  <div class="col-1">{{drive.price}}</div>
 <!-- <div class="col-1">{{drive.describeDrive}}</div> -->
  <div class="col-1"> <button mat-button (click)="openMyPackagesDialog(drive)" ><i class="bi bi-envelope-fill"></i> </button></div> 
  <div class="col-1" (click)="openDialogHappiness(drive.driverCode)"><i class="bi bi-star-fill"></i></div>

</div>

</section>

</div>
<router-outlet></router-outlet>
