
<div> 
  <h1> נסיעות</h1>
<br><br>

<input [min]="minDate" matInput [matDatepicker]="picker" (click)="picker.open()"  placeholder="מתאריך" #fromDate >
<mat-datepicker #picker></mat-datepicker>

<input [min]="minDate" matInput [matDatepicker]="picker1" (click)="picker1.open()"  placeholder="עד תאריך" #toDate >
<mat-datepicker #picker1 ></mat-datepicker>

  <input matInput type="text" placeholder="מוצא" ngx-google-places-autocomplete 
   #placesRef="ngx-places" (onAddressChange)="handleAddressFromChange($event)" #fromL >

  <input matInput type="text" placeholder="יעד" ngx-google-places-autocomplete  
  #placesRef="ngx-places" (onAddressChange)="handleAddressToChange($event)" #toL>

  <input matInput type="time"  placeholder="שעת יציאה" #time >

  <!-- <div class="md-form md-outline">
    <label for="default-picker">שעת החזרה</label>
    <input type="time" id="default-picker" class="form-control" [(ngModel)]="time" placeholder="שעת החזרה">
</div>‏‏ -->
  <select #trans >
    <option value="0">כל רכב </option>
     <option value="1">רכב </option>
     <option value="2" >אופנוע</option>
     <option value="3" >אופניים</option>
     <option value="4" >אוטובוס</option>
     <option value="5" >משאית</option>
   </select>
   <!--חיפוש לפי עיר-->
  <!-- <input #searchTextField id="searchTextField" type="text" size="50" placeholder="Enter a location" autocomplete="on">  -->

  <button mat-button (click)="filterDrives(fromDate.value,toDate.value,fromL.value,toL.value,time.value,trans.value)">חפש תוצאות</button>

    <br>
    <mat-label>מיין לפי:</mat-label>
   <select (change)="sortBy($event.target.value)" >
    <option value="date">תאריך </option>
     <option value="time">שעה </option>
     <option value="from" >מרחק מהמוצא</option>
     <option value="to" >מרחק מהיעד</option>
   </select>
   
<br>
<p style="font-size:large;"> נמצאו {{len}} נסיעות מתאימות</p>
<br>
<table >
  <th> שם </th>
  <th> תאריך </th>
  <th> מוצא </th>
  <th> יעד </th>
  <th> שעת יציאה </th>
  <th> <mat-icon >email</mat-icon> </th>
  <th></th>
  <tr *ngFor="let drive of driversFound;let i=index" >
<td >{{drive.driverName}}</td>
<td> {{drive.travelDate|  date:'dd-MM-yyyy' }} </td>
<td> {{drive.fromLocationFormat}}</td>
<td> {{drive.toLocationFormat}}</td>
<td> {{drive.drivingTime}}</td>
<td> <button mat-button (click)="sendEmail(drive,fromDate.value,toDate.value,fromL.value,toL.value,time.value,trans.value)" >שלח מייל</button></td> 
<td>{{drive.transportationType}}</td>
<td> {{drive.driveCode}}</td>
<td (click)="openDialogHappiness(drive.driverCode)"><mat-icon>star_rate</mat-icon></td>
<!-- <td > <button (click)="hideme[i] = !hideme[i]"><mat-icon>expand_more</mat-icon> </button></td> -->
</tr>
</table>

</div>
<router-outlet></router-outlet>
 