// button{
//     display: inline-block;
//     font-size:xx-large;
//     margin-left: 40px;
//     position: relative;
//     top:60%;
//     background-color:lightgrey;
//     border: none;
// }
section{
    position: relative;
    top:6px;
}
button{
    background-color:white;
    border: none;
    color: rgb(156, 12, 12);
}
button:hover{
    text-decoration-line: underline;
    text-decoration-style: solid;
    cursor: pointer;
    color: rgb(53, 48, 48);

  }