<div class="row">

  <div class="col"><h1>הנסיעות שלי:</h1></div>

<div class="col"><button type="submit" class="btn btn-primary float-left"  mat-button (click)="openDriveDialog()"> צור נסיעה</button></div>


</div>
    <p style="font-size:large;"> נמצאו {{len}} נסיעות מתאימות</p>
    <br>
    <table >
      <th>קוד נסיעה</th>
      <th> תאריך נסיעה </th>
      <th>שעת נסיעה </th>
      <th> מוצא </th>
      <th> יעד </th>
      <th>כלי רכב</th>
      <th>מחיר</th>
      <th>הערה</th>
      <tr *ngFor="let drive of myListDrive;let i=index" >
    <td>{{drive.driveCode}}</td>
    <td> {{drive.travelDate|  date:'dd-MM-yyyy' }} </td>
    <td> {{drive.drivingTime}}</td>
    <td> {{drive.fromLocationFormat}}</td>
    <td> {{drive.toLocationFormat}}</td>
    <td>{{drive.transportationType}}</td>
    <td>{{drive.price}}</td>
    <td>{{drive.describeDrive}}</td>

    <td (click)="OpenUpdateDrive(drive)"><mat-icon style="cursor:pointer">create</mat-icon></td>
    <td (click)="checkListWaitingForDrive(drive)"><mat-icon style="cursor:pointer">delete</mat-icon></td>
    <!-- <button (click)="deleted()">בדיקה על swal</button> -->
    </tr>
    
    </table>


