<div class="d">
<div class="row">

<div class="col"><h3>הנסיעות שלי:</h3></div>

<div class="col"><button type="submit" class="btn btn-primary float-left"  mat-button (click)="openDriveDialog()"> צור נסיעה</button></div>

</div>
    <p style="font-size:large;"> נמצאו {{len}} נסיעות </p>
    <div class="row table_title">
      <div class="col-1" >קוד נסיעה</div>
        <div class="col-2">תאריך נסיעה </div>
          <div class="col-2">שעת נסיעה </div>
            <div class="col-2"> מוצא </div>
              <div class="col-2"> יעד </div>
                <div class="col-1">כלי רכב</div>
                  <div class="col-1">מחיר</div>
      <!-- <th>הערה</th> -->
    </div>
      <div class="row table_list"  *ngFor="let drive of myListDrive;let i=index" >
        <div class="col-1">{{drive.driveCode}}</div>
          <div class="col-2"> {{drive.travelDate|  date:'dd-MM-yyyy' }} </div>
            <div class="col-2"> {{drive.drivingTime}}</div>
              <div class="col-2"> {{drive.fromLocationFormat}}</div>
                <div class="col-2"> {{drive.toLocationFormat}}</div>
                  <div class="col-1">{{drive.transportationType}}</div>
                    <div class="col-1">{{drive.price}}</div>
    <!-- <td>{{drive.describeDrive}}</td> -->

    <div class="col-1" ><mat-icon style="cursor:pointer" (click)="OpenUpdateDrive(drive)">create</mat-icon>
      <mat-icon style="cursor:pointer" (click)="checkListWaitingForDrive(drive)">delete</mat-icon></div>
    <!-- <button (click)="deleted()">בדיקה על swal</button> -->
      </div>

    </div>
