<div class="container">

<mat-dialog-content class="mat-typography">
    <mat-icon style="cursor: pointer;" mat-dialog-close >highlight_off </mat-icon><br><br>
  <label id="example-radio-group-label">נמצאו {{len}} נסיעות מותאמות</label><br>
  <label id="example-radio-group-label">תבחר את הנסיעה אותה תרצה לשלוח:</label>
  <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
  (ngModelChange)="checkDrive($event)">
    <mat-radio-button class="example-radio-button" *ngFor="let drive of myFilterDrives" [value]="drive"
    (click)="checkDrive(drive)"> 
  <span> {{drive.driveCode}}</span>  <span>    </span>
  <span> {{drive.driverName}}</span>  <span>    </span>
  <span> {{drive.travelDate|  date:'dd-MM-yyyy' }} </span> <span>    </span>
  <span> {{drive.fromLocationFormat}}</span> <span>    </span>
  <span> {{drive.toLocationFormat}}</span> <span>    </span>
  <span> {{drive.drivingTime}}</span>  <span>    </span>
    </mat-radio-button>
  </mat-radio-group>
  <button (click)="sendEmail()">שלח!!</button>
  <br>
  <!-- <mat-paginator [length]="myListDrive.length"
[pageSize]="10">
</mat-paginator>   -->
<a style="color: red;" mat-dialog-close (click)="showDriveDialog()">צור נסיעה חדשה</a><br>
<a style="color: red;" (click)="showAllDrives()">הצגת כל הנסיעות</a>
  </mat-dialog-content>


</div>