<mat-dialog-content  class="mat-typography">
  <mat-icon style="cursor: pointer;" mat-dialog-close >highlight_off </mat-icon>
    <form *ngIf="form,newDrive" [formGroup]="form" (ngSubmit)="addDrive()">
        <h2>הכנס פרטי נסיעה:</h2>
        <div class="form-group row">

        <section>
          <div class="example-button-row">
            <div class="example-flex-container container">
            <div class="example-button-container">
              <button type="button" mat-mini-fab color="accent">
              <label  for="1">
             <mat-icon> directions_car</mat-icon> 
              </label>
            </button>

            </div>
              <div class="example-button-container">
                <button type="button" mat-mini-fab color="warn">
                <label for="2">
                  <mat-icon>two_wheeler</mat-icon>
                </label>
                </button>

              </div>
              <div class="example-button-container">
                <button type="button" mat-mini-fab color="primary">
                <label for="3">
                  <mat-icon>pedal_bike</mat-icon>
                </label>
                </button>
              </div>
              <div class="example-button-container">
                <button type="button" mat-mini-fab color="white">
                <label for="4">
                  <mat-icon>directions_bus</mat-icon>
                </label>
              </button>
            </div>
            <div class="example-button-container">
              <button type="button" mat-mini-fab color="white">
              <label for="5">
                <mat-icon>local_shipping</mat-icon>
              </label>
            </button>
          </div>
            </div>
          </div>
      </section>
      </div>
      <div class="form-group ">
        <input type="radio" value="1" style="visibility: hidden;"  id="1" #1  formControlName="trans" name="trans"  >
        <input type="radio" value="2" style="visibility: hidden;"  id="2" #2  formControlName="trans" name="trans"  >
        <input type="radio" value="3" style="visibility: hidden;"  id="3" #3  formControlName="trans" name="trans"  >
        <input type="radio" value="4" style="visibility: hidden;"  id="4" #4  formControlName="trans" name="trans"  >
        <input type="radio" value="5" style="visibility: hidden;"  id="5" #5  formControlName="trans" name="trans"  >
        <div class="form-text" *ngIf="f.trans.errors">שדה חובה</div>

      </div>
      <div class="row">
        <div class="col-md-4">
          <label for="inputFrom" >מוצא</label>
        <input class="form-control" matInput ngx-google-places-autocomplete id="inputFrom" #placesRef="ngx-places" (onAddressChange)="handleAddressFromChange($event)"
        placeholder=" מוצא" formControlName="fromLocation" name="fromLocation" [ngClass]="{ 'is-invalid': submitted && f.fromLocation.errors }"/>
        <div class="form-text" *ngIf="f.fromLocation.errors">שדה חובה</div>
      </div>

    <div class=" col-md-4"> 
      <label for="inputTo" >יעד</label>    
          <input class="form-control" ngx-google-places-autocomplete id="inputTo" #placesRef="ngx-places" (onAddressChange)="handleAddressToChange($event)"
          placeholder=" יעד" formControlName="toLocation"  name="toLocation"[ngClass]="{ 'is-invalid': submitted && f.toLocation.errors }"/>
          <div class="form-text" *ngIf="f.toLocation.errors">שדה חובה</div>

        </div>
    </div> 
        <br>

        <div class="row">
    <div class=" col-md-4">
      <!-- <mat-form-field class="example-full-width"> -->
        <label for="inputFromDate" class="form-label">תאריך נסיעה</label>
          <input class="form-control" id="inputFromDate" [min]="minDate" [matDatepicker]="picker" placeholder="date" formControlName="date" name="date" [ngClass]="{ 'is-invalid': submitted && f.date.errors }">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <div class="form-text" *ngIf="f.date.errors">שדה חובה</div>

        </div>
    
          <div class="col-md-4">
            <label for="inputTime" class="form-label">שעת נסיעה</label>
            <input class="form-control" type="time" id="inputTime"  placeholder="שעת נסיעה"  formControlName="driving" name="driving" [ngClass]="{ 'is-invalid': submitted && f.driving.errors }"> 
            <div class="form-text" *ngIf="f.driving.errors">שדה חובה</div>

          </div>
       
        </div>
    <br>
      
    <div class="col-md-4">
            <label>מחיר לק"מ:</label>
            <input class="form-control" type="number" formControlName="price"  name="price" />
    </div>
          <br>
         <!-- <mat-form-field >
            <input matInput placeholder="קוד גודל חבילה" class="inp" formControlName="packageSizeCode" name="packageSizeCode">
          </mat-form-field>
          <br>
   -->
   <div >
    <!-- <div class="form-group"> -->
      <!-- <div class="form-check"> -->

        <input  type="checkbox" id="checkMes" formControlName="mes" name="mes" #message>
        <label  for="checkMes">מעוניין לקבל התראות למייל על חבילות שיתאימו לנסיעה זו?</label>

      <!-- </div> -->
     <!-- </div> -->
    </div> 
<br>
<div class="row">
   <div class="col-md-4" [ngStyle]="{'visibility': message.checked ? 'visible' : 'hidden'}" > 
      <label for="inputDis"> מרחק:</label>        
      <input class="form-control" type="number" id="inputDis" formControlName="distance" name="distance">
  </div>
</div>
<br>
          <!-- <mat-form-field >
            <input matInput placeholder="הערה" type="text" class="inp" formControlName="describeDrive" name="describeDrive">
          </mat-form-field>
          <br>   -->
            <!-- TODO: לשנות שיראה כקישור -->
            <!-- <a style="cursor: pointer;" (click)="openDialog()" mat-dialog-close>התחבר</a> -->
            <div class="mb-3">   
            <button class="btn btn-primary " *ngIf="!isDrive"  style="cursor: pointer;" type="submit"  [disabled]="!form.valid"
            (click)="submitted=true" > שמור</button> 
            <button class="btn btn-primary " *ngIf="isDrive"  style="cursor: pointer;" type="submit"  [disabled]="!form.valid"
            (click)="submitted=true"  > שלח</button> 
            </div>
    </form>   
    </mat-dialog-content>

