<mat-dialog-content  class="mat-typography">
    <form  [formGroup]="form" (ngSubmit)="addDrive()">
      <div class="example-container">
        <mat-icon style="cursor: pointer;" mat-dialog-close routerLink="/home">highlight_off </mat-icon>

        <h1>פרטי נסיעה:</h1><br>
        
        <mat-form-field >
          <input matInput placeholder="driverCode" type="text" class="inp" readonly formControlName="driverCode" name="driverCode" >
        </mat-form-field>
        <br>
  
        <mat-form-field >
            <input type="time" matInput placeholder="שעת נסיעה" class="inp" formControlName="driving" name="driving"> 
          </mat-form-field>
          <br> 
  
          <mat-form-field >
            <mat-label>Choose a date</mat-label>
            <input matInput [matDatepicker]="picker" placeholder="date" class="inp" formControlName="date" name="date">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
         <br>
  
         <!-- קישור לגוגל מאפ -->
        <mat-form-field >
          <input matInput ngx-google-places-autocomplete  #placesRef="ngx-places" (onAddressChange)="handleAddressFromChange($event)"
          placeholder="מקום מוצא" formControlName="fromLocation" name="fromLocation"/>
        </mat-form-field>
         <br>
  
          <!-- קישור לגוגל מאפ -->
          <mat-form-field >
            <input matInput ngx-google-places-autocomplete  #placesRef="ngx-places" (onAddressChange)="handleAddressToChange($event)"
            placeholder="מקום יעד" formControlName="toLocation"  name="toLocation"/>
          </mat-form-field>
          <br>
  
         <!-- <mat-form-field >
            <input matInput placeholder="קוד גודל חבילה" class="inp" formControlName="packageSizeCode" name="packageSizeCode">
          </mat-form-field>
          <br>
   -->
        <mat-form-field >
          <input type="time" matInput placeholder="כמה זמן קודם לתזכר" class="inp" formControlName="reminder" name="reminder">
        </mat-form-field>
        <br> 
  
        <mat-form-field >
            <input matInput placeholder="כלי תחבורה" class="inp" formControlName="transportation" name="transportation">
          </mat-form-field>
          <br>
          
          <mat-form-field >
            <input matInput placeholder="הערה" type="text" class="inp" formControlName="describeDrive" name="describeDrive">
          </mat-form-field>
          <br>  
            <!-- TODO: לשנות שיראה כקישור -->
            <!-- <a style="cursor: pointer;" (click)="openDialog()" mat-dialog-close>התחבר</a> -->
           
            <button type="submit" mat-button   (click)="submitted=true">Save</button>  
  
      </div>
    </form>
    </mat-dialog-content>

