<!-- <mat-star-rating [rating]="rating"  [starCount]="starCount" [color]="starColor" (ratingUpdated)="onRatingChanged($event)"></mat-star-rating> -->
<!-- <button mat-icon-button [color]="color" *ngFor="let ratingId of ratingArr;index as i" [id]="'star_'+i" (click)="onClick(i+1)" [matTooltip]="ratingId+1" matTooltipPosition="above">
    <mat-icon>
      {{showIcon(i)}}
    </mat-icon>
  </button> -->
  <!-- <mat-error *ngIf="starCount == null || starCount == 0">
    Star count is <strong>required</strong> and cannot be zero
  </mat-error>
  <p class="body-2">
      Your rated <span class="body-2">{{rating}}</span> / <span class="body-2">{{starCount}}</span>
  </p> -->
  <br><br>
  <h2>אודות TenDrive</h2>
 <div>
   <br><br>
    האתר TenDrive, אתר לשיתוף חברתי של משלוחים נועד לתת לכל אחד ואחת אפשרות להרוויח כסף על הדרך.
<br>
  בדרך לעבודה, לקניות או להורים ולכל מקום שתיסעו תוכלו לקחת אתכם חבילה שאותה תביאו ליעדה בקלות, על הדרך וללא מאמץ.
  <br><br>
 <h3> אני מתכנן לנסוע ליעד מסוים ולבצע משלוח על הדרך, מה עלי לעשות?</h3>
  <br>
  עליך להירשם לאתר tenDrive, למלא את פרטיך ואת פרטי נסיעתך ולחפש לפי הפרמטרים את החבילות המתאימות לך. יש באפשרותך לעבור על רשימת החבילות ולחפש חבילה באופן עצמאי.
  <br>
  לא מצאת חבילה המתאימה עבורך? אל דאגה! באפשרותך להירשם לחבילות שירשמו בעתיד ויתאימו לפרטי נסיעתך ואנחנו כבר נעדכן אותך.
  <br>
  ובכל מקרה, כשנסיעתך שמורה במערכת, תמיד יוכל לראותה המעונין במשלוח וליצור איתך קשר.
  <br>
  נסיעה טובה!
  <br><br><br>
   
  
  <h3> אני מעונין לשלוח חבילה ליעד מסוים, מה עלי לעשות?</h3>
  
  <br>
  עליך להירשם לאתר tenDrive, למלא את פרטיך ואת פרטי חבילתך ולחפש לפי הפרמטרים את השליחים שנסיעתם מתאימה לחבילתך. יש באפשרותך לעבור על רשימת הנסיעות ולחפש שליח באופן עצמאי.
  <br>
  לא מצאת נסיעה המתאימה עבור חבילתך? אל דאגה! באפשרותך להירשם לנסיעות שירשמו בעתיד ויתאימו לפרטי חבילתך ואנחנו כבר נעדכן אותך.
  <br>
  ובכל מקרה, כשחבילתך שמורה במערכת, תמיד יוכל לראותה השליח וליצור איתך קשר.
  <br>
  בסיום השירות נשלח אליך למייל בקשה לחוות דעת על השליח, מחכים לשיתוף פעולה כדי שנוכל להשתפר ולשפר.
  <br>
  בהצלחה!
  
 </div>