select{
  height: 25px;
  width: 110px;

}
th{
  width: 37px;
  height: 16px;
  margin: 0 0 0 112px;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: right;
  color: #6f6f6f;
}

td{
  width: 13%;
  
}
table{
  width: 78%;
}

button.btn{
font-size: 18px;
font-weight: normal;
font-stretch: normal;
font-style: normal;
line-height: normal;
letter-spacing: -0.43px;
text-align: center;
color: #ffffff;
  float: left;
  display: inline;
  margin-left:10px;
  margin-top: 10px;
  width: 153px;
  height: 36px;
  margin: 16px 1px 18px 246px;
  padding: 8px 39px 8px 40px;
  border-radius: 18px;
  border: solid 1px #d81e2d;
  background-color: #d81e2d;
}

h1{
  display: inline;
}

input{
  display: inline;
  margin-left: 8px;
  height: 20px;
}
label{
  margin: 0 10px
}
hr{
  width: 940px;
  height: 1px;
  margin: 9px 0 0;
  border: solid 1px #b9b9b9;
}