<div>

  <div class="row">

<div class="col"><h1>החבילות שלי:</h1></div>
<div class="col"><button type="submit" class="btn btn-primary float-left"  mat-button (click)="openPackageDialog()"> צור חבילה</button></div>


</div>
<p style="font-size:large;"> נמצאו {{len}} חבילות מתאימות</p>
<br>
<div class="row">
  <div class="col">קוד חבילה</div> 
    <div class="col">מתאריך</div> 
      <div class="col"> בשעה </div>
        <div class="col"> עד תאריך </div>
          <div class="col"> בשעה </div>
          <div class="col">מוצא</div>
          <div class="col"> יעד </div>
  <div class="col"> גודל חבילה </div>
  <div class="col"> סוג חבילה </div>
  <!-- <th> הערה </th> -->
</div>

  <div class="row" *ngFor="let package of myListPackage;let i=index" >
    <div class="col">{{package.packageCode}}</div>
      <div class="col"> {{package.fromDate|  date:'dd-MM-yyyy' }} </div>
        <div class="col"> {{package.fromTime}}</div>
          <div class="col"> {{package.toDate|  date:'dd-MM-yyyy' }} </div>
            <div class="col"> {{package.toTime}}</div>
              <div class="col"> {{package.fromLocationFormat}}</div>
                <div class="col"> {{package.toLocationFormat}}</div>
                  <div class="col"> {{package.packageSize}}</div>
                    <div class="col"> {{package.packageType}}</div>
                      <div class="col">{{package.describePackage}}</div>
                        <div class="col" (click)="OpenUpdatePackage(package)"><mat-icon style="cursor:pointer">create</mat-icon></div>
                          <div class="col" (click)="deletePackage(package)"><mat-icon style="cursor:pointer">delete</mat-icon></div>

  </div>


</div>
