<div>
  <button class="btn" mat-button (click)="openPackageDialog()"> צור חבילה</button>

<p>החבילות שלי:</p>
<p style="font-size:large;"> נמצאו {{len}} חבילות מתאימות</p>
<br>
<table >
  <th>קוד חבילה</th> 
  <th>קוד לקוח</th> 
  <th> מתאריך </th>
  <th> עד תאריך </th>
  <th> מוצא </th>
  <th> יעד </th>
  <!-- <th> שעת יציאה </th> -->

  <tr *ngFor="let package of myListPackage;let i=index" >
<td>{{package.packageCode}}</td>
<td> {{package.fromDate|  date:'dd-MM-yyyy' }} </td>
<td> {{package.fromTime}}</td>
<td> {{package.toDate|  date:'dd-MM-yyyy' }} </td>
<td> {{package.toTime}}</td>
<td> {{package.fromLocationFormat}}</td>
<td> {{package.toLocationFormat}}</td>
<td> {{package.packageSize}}</td>
<td> {{package.packageType}}</td>
<td>{{package.describePackage}}</td>
<td (click)="OpenUpdatePackage(package)"><mat-icon style="cursor:pointer">create</mat-icon></td>
<td (click)="deletePackage(package)"><mat-icon style="cursor:pointer">delete</mat-icon></td>

</tr>
</table>

</div>
