<!-- 
<div class="travelslDiv" *ngFor="let travel of travelList" > 
    <div class="travelDiv1"*ngIf="travelsListByPlace()">
    <p>{{travel.packageCode}} </p>
    <p>{{travel.fromLocation}} </p>
    <p>{{travel.toLocation}} </p>
    <p>{{travel.travelDate}} </p>
    <p>{{travel.drivingTime}} </p>
    <button id="moreDetails" value="moreDetails" (click)="vis=!vis"></button>
    <p *ngIf="vis">{{travel.packageType}} </p>
    <p *ngIf="vis">{{travel.describePackage}} </p>
    <p *ngIf="vis">{{travel.packageSize}} </p>
</div>
  </div> -->

