<h2>פרטי הנסיעה שמתאימה לחבילה שלך:</h2>
<div *ngIf="drive!=undefined">
<p>קוד נסיעה:   {{drive.driveCode}}</p>
<p>שם השליח:   {{drive.driverName}}</p>
<p>מוצא:   {{drive.fromLocationFormat}}</p>
<p>יעד:   {{drive.toLocationFormat}}</p>
<p>כלי רכב:   {{drive.transportationType}}</p>
<p>תאריך נסיעה:   {{drive.travelDate| date:'dd-MM-yyyy'}}</p>
<p>שעת נסיעה:   {{drive.drivingTime}}</p>
<p>מחיר לק"מ:   {{drive.price}}</p>

<!-- <button class="btn btn-primary" (click)="showPackageDetails=true">שלח מייל</button> -->
</div>

<!-- <div *ngIf="showPackageDetails"> -->
    <!-- <mat-dialog-content> -->
    <h3>פרטי החבילה אותה אתה מעוניין לשלוח:</h3>
 <div *ngIf="package!=undefined">

<p>קוד החבילה:  {{package.packageCode}}</p>
    <p>איסוף מתאריך:   {{package.fromDate| date:'dd-MM-yyyy'}}</p>
    <p >משעה:   {{package.fromTime}}</p>
    <p >עד תאריך:   {{package.toDate| date:'dd-MM-yyyy'}}</p>
    <p >עד שעה:  {{package.toTime}}</p>
    <p>מוצא:   {{package.fromLocationFormat}}</p>
    <p >יעד:  {{package.toLocationFormat}}</p>
    <p >גודל חבילה:  {{package.packageSize}}</p>
    <p >סוג חבילה:  {{package.packageType}}</p>
   
<button class="btn btn-primary" (click)="sendEmailToDelivery()">שלח מייל</button>
</div>

